// BACKGROUND COLOR
$body-background-color-left: #ed1c24;
$body-background-color-right: #005e9d;
// TEXT COLOR
$body-text-color: #111;
$body-text-color-light: #aaa;
$text-color-dark-grey: #333;
$text-color-light-grey: #ccc;
// HDFC LOGO TEXT COLOR
$hdfc-red: #d51d25;
$hdfc-blue: #0c5f9c;